<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body ">
                <div>
                    <h3 class="text-center">¡Realicemos juntos la gestión de nuestros gastos!</h3>
                </div>
                <div>
                    <table class="table table-striped" *ngIf="categories.length>0 ; else noCategories">
                        <div>
                            <h1 class="text-center">Categorías</h1>
                        </div>
                        <input type="text" class="form-control" placeholder="Buscar Categoría..." [(ngModel)]="filtro">
                        <br>
                        <tbody>
                            <tr *ngFor="let category of categories | filter: filtro">
                                <td><p style="font-size: 20px" class="align-self-center float-left">
                                    {{category.nombre_categoria}} 
                                </p>
                                <button class="btn btn-danger float-right" (click)="remove(category.id_categoria)">Eliminar</button>
                                <button class="btn btn-info float-right mr-3" [routerLink]="['/category/'+category.id_categoria+'/concept']">Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noCategories>
                        <div class="text-center"> 
                            <p>Aún no cuentas con categorías,<br>
                                ¿Qué tal si agregas algunas?</p>
                        </div>
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-primary mr-3" [routerLink]="['/profile']">Volver</button>
                        <button class="btn btn-success ml-2" [routerLink]="['/category/add']">Agregar Categoría</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>