<div class="card col-md-8 mx-auto mt-5">
    <div class="card-body text-center ">
        <h1>Bienvenido(a)</h1>
        <h3>Controla tus gastos monetarios <br>
            Y evitemos que pases por una situación económica difícil</h3>
    </div>
    <div class="col-md-8 mx-auto">
        <div>
            <button class="btn btn-info btn-block boton3d" routerLink="/category">
                Crea y gestiona tus categorías
            </button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-info btn-block boton3d" routerLink="/acquisition-point">
                Crea y gestiona tus puntos de adquisición
            </button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-info btn-block boton3d" routerLink="/movement">
                Guarda tus movimientos
            </button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-info btn-block boton3d mb-5" routerLink="/report">
                Consulta tu informe
            </button>
        </div>
    </div>
</div>