<div class="card col-md-8 mx-auto mt-5">
    <div class="card-body text-center ">
        <h1>Bienvenido(a)</h1>
        <h3>Controla tus gastos monetarios <br>
            Y evitemos que pases por una situación económica difícil</h3>
    </div>
    <div class="col-md-8 mx-auto">
        <div>
            <button class="btn btn-info btn-block boton3d" routerLink="/category">
                <strong>Crea y gestiona tus categorías</strong>
            </button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-info btn-block boton3d" routerLink="/acquisition-point">
                <strong>Crea y gestiona tus puntos de adquisición</strong>
            </button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-info btn-block boton3d" routerLink="/movement">
                <strong>Guarda tus movimientos</strong>
            </button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-info btn-block boton3d mb-5" routerLink="/report" [queryParams]="{ lista: [1,2,3,4,5]}">
                <strong>Realiza tu informe periódico</strong>
            </button>
        </div>
    </div>
</div>