<div class="row">
    <div class="col-md-10 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="contactForm" (ngSubmit)="submit()">
                    <h5 class="text-center">¡Realicemos los diferentes movimientos que necesites!</h5>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <select class="custom-select" formControlName="category">
                                <option [ngValue]="null" disabled>Buscar Categoría</option>
                                <option *ngFor="let category of categories" [ngValue]="category.id_categoria" (click)="selectCategory(category.id_categoria)">{{category.nombre_categoria}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <select class="custom-select" formControlName="concept" disabled>
                                <option [ngValue]="null" disabled>Buscar Concepto</option>
                                <option *ngFor="let concept of concepts | filter: {id_category: selectedCategory}" [ngValue]="concept.id_concept">{{concept.nombre_concepto}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <select class="custom-select" formControlName="product">
                                <option [ngValue]="null" disabled>Buscar Producto</option>
                                <option *ngFor="let product of products" [ngValue]="product.id_producto_servicio">{{product.nombre_producto_servicio}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <select class="custom-select" formControlName="point">
                                <option [ngValue]="null" disabled>Buscar Lugar de adquisición</option>
                                <option *ngFor="let point of points" [ngValue]="point.id_punto">{{point.nombre_punto}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control" placeholder="Valor unitario">
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control" placeholder="Cantidad del producto en 'Unidad de medida'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <select class="custom-select" formControlName="movement">
                                <option [ngValue]="null" disabled>Tipo de movimiento</option>
                                <option *ngFor="let movement of movements" [ngValue]="movement.consecutivo">{{movement.consecutivo}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary ml-5">
                            Limpiar campos
                        </button>
                        <button class="btn btn-success ml-5">
                            Agregar movimiento
                        </button>
                    </div>
                    <br>
                    <!--<div class="form-group">
                        <br>
                        <h5 class="text-center">Lista de movimientos agregados hasta ahora</h5>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let title of titles">
                                        {{title}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of details">
                                    <td *ngFor="let key of objectKeys(detail)">
                                        <label id="{{detail[key]}}">{{detail[key]}} </label>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm mx-auto" (click) = "removeDetail(detail.id)">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class="btn btn-danger" routerLink="/tasks">
                                Descartar todo y volver
                            </button>
                            <button class="btn btn-success ml-5" (click)="saveDetails()">
                                Guardar detalles de reparación
                            </button>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <button class="btn btn-danger ml-5">
                            Descartar y volver
                        </button>
                        <button class="btn btn-success ml-5">
                            Guardar movimientos
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>