<div class="row">
    <div class="col-md-12 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="movementForm" (ngSubmit)="addMovement(movementForm.value)">
                    <h5 class="text-center">¡Realiza los diferentes movimientos que necesites!</h5>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <select class="custom-select" formControlName="category">
                                <option [ngValue]="null" disabled>Buscar Categoría</option>
                                <option *ngFor="let category of categories" [ngValue]="{id_categoria:category.id_categoria,nombre_categoria: category.nombre_categoria}" required>{{category.nombre_categoria}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="custom-select" formControlName="concept">
                                <option [ngValue]="null" disabled>Buscar Concepto</option>
                                <option *ngFor="let concept of conceptFiltered" [ngValue]="{id_concepto:concept.id_concepto, nombre_concepto:concept.nombre_concepto}">{{concept.nombre_concepto}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <select class="custom-select" formControlName="product">
                                <option [ngValue]="null" disabled>Buscar Producto</option>
                                <option *ngFor="let product of productFiltered" [ngValue]="{id_producto:product.id_producto_servicio, nombre_producto:product.nombre_producto_servicio,unidad:product.unidad}">{{product.nombre_producto_servicio}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="custom-select" formControlName="point">
                                <option [ngValue]="null" disabled>Buscar Lugar de adquisición</option>
                                <option *ngFor="let point of points" [ngValue]="{id_punto:point.id_punto, nombre_punto:point.nombre_punto}">{{point.nombre_punto}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control" formControlName="value" placeholder="Valor unitario" min="1">
                        </div>
                        <div class="form-group form-inline col-md-6">
                            <input type="number" class="form-control col-md-5" formControlName="amount" placeholder="Cantidad" min="1">
                            <p class="mt-1">{{unit}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <select class="custom-select" formControlName="movementType">
                                <option [ngValue]="null" disabled>Tipo de movimiento</option>
                                <option>Adquirido</option>
                                <option>Estimado</option>
                            </select>
                        </div>
                        <div class="form-group form-inline col-md-6">
                            <label for="date">Fecha:&nbsp; </label>
                            <input type="date" formControlName="date" min="2021-01-01" max="2100-01-01" formControlName="date" value="{{date}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <button class="btn btn-primary ml-5">
                            Limpiar campos
                        </button> -->
                        <button class="btn btn-success ml-5" type="submit">
                            <i class="fas fa-plus-square"></i> Agregar movimiento
                        </button>
                    </div>
                    <br>
                </form>
                <div class="form-group">
                        <br>
                        <h5 class="text-center">Lista de movimientos agregados hasta ahora</h5>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let title of titles">
                                        {{title}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let movement of movements">
                                    <td *ngFor="let key of objectKeys(movement)">
                                        <label id="{{movement[key]}}">{{movement[key]}} </label>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm mx-auto" (click)="removeMovement(movement.id)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="form-group">
                    <button class="btn btn-primary ml-5" routerLink="/profile">
                        <i class="fas fa-arrow-left"></i> Descartar y volver
                    </button>
                    <button class="btn btn-success ml-5" (click)="saveMovements()" data-toggle="modal" data-target="#modalMovements">
                        <i class="far fa-save"></i> Guardar movimientos
                    </button>
                </div>
                <div class="modal fade" id="modalMovements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel"> <strong>Movimientos</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p *ngIf="noSavedElements == null">
                                No habían movimientos para guardar.
                            </p>
                            <p *ngIf="noSavedElements == 0">
                                Todos los movimientos fueron guardados exitosamente.
                            </p>
                            <p *ngIf="noSavedElements > 0">
                                No se pudieron guardar {{noSavedElements}} movimientos
                            </p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>