<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body ">
                <div>
                    <h3 class="text-center">¡Modifica la categoria o gestiona sus conceptos!</h3>
                </div>
                <div>
                    <form >
                        <div class="border">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name" placeholder="Nombre de la categoria">
                            </div>
                            <div class="form-group">
                                <textarea class= "form-control" name="description" rows="4" cols="50" placeholder="Descripción de la categoria"></textarea>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success mx-auto mb-3">Actualizar</button>
                            </div>
                        </div>
                        <div class="border">
                            <div>
                                <h1 class="text-center">Conceptos</h1>
                            </div>
                            <ul class="text-center" style="list-style-type: none;"  *ngIf="holas.length>0 ; else no">

                                <div class="input-group mb-4">
                                    <input id="placaId" type="text" class="form-control" placeholder="Buscar concepto" >
                                   <div class="input-group-append">
                                     <button class="btn btn-sm" type="button">Buscar</button>
                                   </div>

                                </div>
                                <li  *ngFor="let hola of holas" >
                                    <div class="row border">
                                        <div class="col">
                                            <a style="font-size: 20px; padding: 8px" class="align-self-center float-left">
                                                {{hola.id}}
                                            </a>
                                            <button class="btn float-right">Ver</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ng-template #no>
                                <div>
                                    <p style="font-size: 15px; padding: 8px" class="align-self-center text-center">Aún no cuentas con conceptos para tus categorías,<br>
                                        ¿Qué tal si agregas algunas?</p>
                                </div>
                            </ng-template>
                            <div class="text-center">
                                <button class="btn btn-primary mr-3" [routerLink]="['/category']">Volver</button>
                                <button class="btn btn-success ml-2">Agregar Concepto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>