<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body ">
                <div>
                    <h3 class="text-center">Puedes modificar la categoría y gestionar sus conceptos</h3>
                </div>
                <div>
                    <form #updateForm="ngForm" (ngSubmit)="update(updateForm.value)">
                        <div>
                            <br>
                            <br>
                            <div>
                                <label for=""><strong>Nombre de categoría</strong></label>
                                <input type="text" name="nombre_categoria" class="form-control" placeholder="Nombre de la categoria" [(ngModel)]="category.nombre_categoria">
                            </div>
                            <br>
                            <div>
                                <label for=""><strong>Descripción</strong></label>
                                <textarea class= "form-control" name="descripcion" rows="1" cols="50" placeholder="Descripción de la categoria" [(ngModel)]="category.descripcion"></textarea>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success mx-auto mb-3">Actualizar</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div>
                        <table class="table table-striped" *ngIf="concepts.length>0 ; else noConcepts">
                            <div>
                                <h1 class="text-center">Conceptos</h1>
                            </div>
                            <input type="text" class="form-control" placeholder="Buscar Concepto..." [(ngModel)]="filtro">
                            <br>
                            <tbody>
                                <tr *ngFor="let concept of concepts | filter: filtro">
                                    <td><p style="font-size: 20px" class="align-self-center float-left">
                                        {{concept.nombre_concepto}} 
                                    </p>
                                    <button class="btn btn-danger float-right" (click)="remove(concept.id_concepto)">Eliminar</button>
                                    <button class="btn float-right" [routerLink]="['/category/'+category.id_categoria+'/concept/:id_concepto/product']">Ver</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #noConcepts>
                            <div>
                                <p style="font-size: 15px; padding: 8px" class="align-self-center text-center">Aún no cuentas con conceptos para esta categoría,<br>
                                    ¿Qué tal si agregas algunos?</p>
                            </div>
                        </ng-template>
                        <div class="text-center">
                            <button class="btn btn-primary mr-3 mb-3" [routerLink]="['/category']">Volver</button>
                            <button class="btn btn-success ml-2 mb-3" [routerLink]="['/category/'+category.id_categoria+'/concept/add']">Agregar Concepto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>